<!-- Source: https://autocomplete.trevoreyre.com/ -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css" />

</head>

<body>

    {% if user.is_authenticated %}
    <p>Welcome {{ user.email }}!</p>
    <a href="/accounts/logout">Log out</a>
    {% endif %}

    <div class="container mt-5 pt-5 col-md-5">
        <h1>Job postings</h1>

        <h2>Search for a job posting</h2>
        <div id="autocomplete" class="autocomplete">
            <input class="autocomplete-input" />
            <ul class="autocomplete-result-list"></ul>
        </div>
        <h2>Already have an account (Job-seeker/Employer)? Log in here! </h2>
        <a href="/login">Log in</a>
        <h2>Job-seekers - create an account to keep track of your applications!</h2>
        <i>Lazy? No problem - an account will be created for you automatically if you apply to a job posting</i><br><br>
        <a href="/register">Register as job-seeker</a>
        <h2>Employer? Create account here to create job postings!</h2>
        <a href="/register">Register as employer</a>


    </div>

    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>

    <script>
        new Autocomplete("#autocomplete", {

            search: input => {
                const url = `/search/?search=${input}`
                return new Promise(resolve => {
                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            resolve(data.data)
                        })
                })
            },
            onSubmit: result => {
                let length = result.length
                let breakpoint = result.lastIndexOf(":") + 2
                const posting_id = result.slice(breakpoint, length)
                window.open(`/submitapplication/${posting_id}`)
            }
        })
    </script>


</body>

</html>